<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link href="index/css/styles.css" rel="stylesheet" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>BLOGS</title>
<link rel="stylesheet" type="text/css" href="blogs/css/style.css"> -->
</head>
 <header>
        <!-- Navigation-->
    <nav class="navbar navbar-light bg-light static-top">  
        <div class="container">
            <a class="navbar-brand"><img src="{{ url_for('static', filename='img/logo.png') }}" /></a></a>
            <!-- <a class="btn btn-primary" href="LOGIN.html">LOGIN</a> -->
        <ul>
            <a class="btn btn-primary" href="/login">LOGIN</a>	
            <a class="btn btn-primary" href="/">HOME</a>
            <a class="btn btn-primary" href="/contact">CONTACT US</a>
            <a class="btn btn-primary" href="/team">OUR TEAM</a>
            <a class="btn btn-primary" href="/blogs">BLOGS</a>
            <a class="btn btn-primary" href="/faq">FAQ</a>
        </ul>
    <!-- <a class="btn btn-primary" href="contact/Contact.html">CONTACT US</a>
    <a class="btn btn-primary" href="About.html">OUR TEAM</a>
    <a class="btn btn-primary" href="Blogs.html">BLOGS</a>
    <a class="btn btn-primary" href="FAQ.html">FAQ</a> -->
        </div>
    </nav>
 </header>
 <body>
 <div class="row">
 	<div class="left-column">
 	  <div class="card">
 		<h2>TITLE HEADING</h2>
 		<h5>Title description, Dec 7, 2017</h5>
 		<img src="blogs/img/blog1.jpeg" alt="blog "/>
 		<p>Some text..</p>
 		<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
 	  </div>
 	  <div class="card">
 		<h2>TITLE HEADING</h2>
 		<h5>Title description, Dec 7, 2017</h5>
 		<img src="blogs/img/blog2.jpeg" alt="blog "/>
 		<p>Some text..</p>
 		<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
 	  </div>
 	</div>

 	<div class="right-column">
 		<div class="card">
 			 <h2>About Me</h2>
 			 <img src="blogs/img/about-me.jpeg" alt="me"/>
 			 <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
 		</div>
 		<div class="card">
 			 <h3>Popular Post</h3>
 			 <img src="blogs/img/popular-blog1.jpeg" alt="popular"/>
 			 <img src="blogs/img/popular-blog2.jpeg" alt="popular"/>
 			 <img src="blogs/img/popular-blog3.jpeg" alt="popular"/>
 		</div>
 		
 	</div>
 </div>
</body>
<footer>

	 <!-- Footer-->
	 <footer class="footer bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 h-100 text-center text-lg-start my-auto">
					<ul class="list-inline mb-2">
						<!-- <li class="list-inline-item"><a href="#!">About</a></li>
						<li class="list-inline-item">⋅</li>
						<li class="list-inline-item"><a href="#!">Contact</a></li>
						<li class="list-inline-item">⋅</li>
						<li class="list-inline-item"><a href="#!">Terms of Use</a></li>
						<li class="list-inline-item">⋅</li>
						<li class="list-inline-item"><a href="#!">Privacy Policy</a></li> -->
					<p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2021. All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 h-100 text-center text-lg-end my-auto">
					<ul class="list-inline mb-0">
						<li class="list-inline-item me-4">
							<a href="#!"><i class="bi-facebook fs-3"></i></a>
						</li>
						<li class="list-inline-item me-4">
							<a href="#!"><i class="bi-twitter fs-3"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="#!"><i class="bi-instagram fs-3"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</body>
</head>