<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>FAQ</title>
         <!-- Cool Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap" rel="stylesheet">
        <!-- Our stylesheet -->
        <link rel="stylesheet" type="text/css" href="FAQ/style.css">
    </head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-light bg-light static-top">  
      <div class="container1">
          <a class="navbar-brand"><img src="index/img/logo.png" /></a></a>
          <!-- <a class="btn btn-primary" href="LOGIN.html">LOGIN</a> -->
      <ul>
       
        <a class="btn btn-primary" href="/login">LOGIN</a>	
        <a class="btn btn-primary" href="/">HOME</a>
        <a class="btn btn-primary" href="/contact">CONTACT US</a>
        <a class="btn btn-primary" href="/team">OUR TEAM</a>
        <a class="btn btn-primary" href="/blogs">BLOGS</a>
        <a class="btn btn-primary" href="/faq">FAQ</a>
    </ul>
<!-- <a class="btn btn-primary" href="contact/Contact.html">CONTACT US</a>
<a class="btn btn-primary" href="About.html">OUR TEAM</a>
<a class="btn btn-primary" href="Blogs.html">BLOGS</a>
<a class="btn btn-primary" href="FAQ.html">FAQ</a> -->
      </div>
  </nav>
       <div class="box">
       <p class="heading">FAQs</p>
       <div class="faqs">
      <details>
         <summary>faq 1</summary>
         <p class="text">text here.</p>
      </details>
      <details>
         <summary>faq 2</summary>
         <p class="text">text here.</p>
      </details>
      <details>
         <summary>faq 3</summary>
         <p class="text">text here.</p>
      </details>
       </div>
      </div>
         
  </body>
  </html>